@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-palette {
  font-family: 'Palette Mosaic';
}

.bg-grass {
  background-image: url('../public/grass-bg.png');
}

.bg-wood {
  background-image: url('../public/bg-wood.png');
}

.bg-water {
  background-image: url('../public/bg-water.png');
}

.font-title {
  font-family: 'Acme';
}